@use 'sass:map';

.filters {
  background-color: $panel-bg;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  &__clear {
    text-align: right;
    margin: 6rem 0 0 0;

    & button {
      background: $btn-bg;
      margin-left: auto;
      width: 100px;
      height: 3rem;
      border: none;
      color: $text-color;
      font-size: 1rem;
      font-family: $font-family-headings;
    }
  }

  &__title {
    color: $text-color;
    font-size: 1.5rem;
    font-family: $font-family-headings;
    margin: 0 0 2rem 0;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;

    &__select {
      display: flex;
      position: relative;

      & select:hover {
        cursor: pointer;
      }

      & option {
        padding: 3rem;
        background: $input-bg;
      }

      &__arrow {
        position: absolute;
        right: 0;
        bottom: 0;
        color: $text-color;
        font-size: 2rem;
        background: $input-bg;
        height: 100%;
        width: 3rem;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & button {
        background: $btn-bg;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: $text-color;

        &:focus {
          outline: none;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  & label {
    color: $text-color;
    font-family: $font-family-headings;
    margin: 0 0 0.5rem 0;
  }

  & input, select {
    background: $input-bg;
    height: 3rem;
    border: none;
    padding: 0 1rem;
    color: $text-color;
    font-family: $font-family-headings;
    width: 100%;
    font-size: 1.2rem;
  }

  & input::placeholder {
    color: $text-grey;
  }

  & input:focus, select:focus {
    border-bottom: 1px solid $text-color;
    outline: none;
  }
}

@media (max-width: map.get($container-max-widths, "xl")) {
  .filters {

    &__mobile {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    &__group:nth-child(2) {
      flex: 0 0 50%;
    }

    &__clear {
      margin: 3.7rem 0 0 0;
    }

  }
}

@media (max-width: map.get($container-max-widths, "xl")) {
  .filters {

    &__mobile {
      display: block;
      align-items: center;
    }

    &__group {
      width: 100%;
      margin: 2rem 0 0 0;
    }

    &__group:nth-child(2) {
      flex: unset;
    }

    &__clear {
      margin: 2rem 0 0 0;
      width: 100%;

      & button {
        width: 100%;
      }
    }

  }
}